:root {
  --square-background-color: #efefef;
  --brown: #986653;
  --light-brown: #ffd7b5;
  --dark-brown: #614236;
  --width: 85vh;
  --height: 85vh;
}

@media (orientation: portrait) {
  :root {
    --width: 85vw;
    --height: 85vw;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #212121;
    --color: #efefef;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #efefef;
    --color: #212121;
    --square-background-color: white;
  }
}

html,
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--color);
  font-family: monospace;
  font-smooth: always;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.square {
  width: var(--width);
  height: var(--height);
  background-color: var(--square-background-color);

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

span {
  position: absolute;
}

.circle {
  width: calc(var(--width) / 100 * 10);
  height: calc(var(--height) / 100 * 10);
  border-radius: 100%;
}

.egg {
  width: calc(var(--width) / 100 * 10);
  height: calc(var(--height) / 100 * 15);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.drop {
  width: calc(var(--width) / 100 * 10);
  height: calc(var(--height) / 100 * 10);
  border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
}

.main-body {
  background-color: var(--brown);
  transform: scale(3, 3) translateY(15%);
  box-shadow: inset -0.3rem -0.3rem rgba(0, 0, 0, 0.1);
}

.main-body-stomach {
  background-color: var(--light-brown);
  transform: scale(2, 2) translateY(25%);
}

.ear-left {
  background-color: var(--brown);
  transform: translate(-150%, -320%) scale(1.3, 1.3);
}

.inner-ear-left {
  background-color: var(--light-brown);
  transform: translate(-150%, -320%) scale(0.8, 0.8);
}

.ear-right {
  background-color: var(--brown);
  transform: translate(150%, -320%) scale(1.3, 1.3);
}

.inner-ear-right {
  background-color: var(--light-brown);
  transform: translate(150%, -320%) scale(0.8, 0.8);
}

.head {
  width: calc(var(--width) / 100 * 18);
  height: calc(var(--height) / 100 * 14);
  background-color: var(--brown);
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  transform: translateY(-150%) scale(2.3, 2.3);
  box-shadow: inset -0.3rem -0.3rem rgba(0, 0, 0, 0.1);
}

.mouth-wrapper {
  width: calc(var(--width) / 100 * 15);
  height: calc(var(--height) / 100 * 10);
  border-radius: 100%;
  background-color: var(--light-brown);
  transform: translateY(-145%);
}

.nose {
  width: calc(var(--width) / 100 * 15);
  height: calc(var(--height) / 100 * 10);
  background-color: var(--dark-brown);
  border-radius: 100%;
  transform: translateY(-150%) scale(0.3, 0.3);
}

.nose-mouth {
  width: 0;
  height: 0;
  border-left: calc(var(--width) / 100 * 13) solid var(--light-brown);
  border-right: calc(var(--width) / 100 * 13) solid var(--light-brown);
  border-bottom: calc(var(--width) / 100 * 13) solid var(--dark-brown);
  background-color: var(--dark-brown);
  transform: translateY(-100%) scale(0.1, 0.2);
}

.eye-left {
  background-color: black;
  transform: translate(-110%, -220%) scale(0.5, 0.5);
}

.eye-glow-left {
  height: calc(var(--height) / 100 * 15);
  background-color: white;
  transform: translate(-100%, -150%) scale(0.1, 0.1) rotate(-15deg);
}

.eye-right {
  background-color: black;
  transform: translate(110%, -220%) scale(0.5, 0.5);
}

.eye-glow-right {
  height: calc(var(--height) / 100 * 15);
  background-color: white;
  transform: translate(120%, -150%) scale(0.1, 0.1) rotate(-15deg);
}

.left-arm {
  background-color: var(--brown);
  transform: translate(-200%, 80%) scale(2, 2);
  box-shadow: inset -0.2rem -0.3rem rgba(0, 0, 0, 0.1);
}

.left-arm-circle {
  background-color: var(--light-brown);
  transform: translate(-210%, 90%) scale(1.2, 1.2);
  box-shadow: -0.2rem -0.2rem rgba(0, 0, 0, 0.1);
}

.right-arm {
  background-color: var(--brown);
  transform: translate(200%, 80%) scale(2, 2) rotate(-90deg);
  box-shadow: inset 0.3rem -0.3rem rgba(0, 0, 0, 0.1);
}

.right-arm-circle {
  background-color: var(--light-brown);
  transform: translate(210%, 90%) scale(1.2, 1.2);
  box-shadow: -0.2rem -0.2rem rgba(0, 0, 0, 0.1);
}

.left-leg {
  background-color: var(--brown);
  transform: translate(-150%, 300%) scale(2, 2);
  box-shadow: inset -0.2rem -0.3rem rgba(0, 0, 0, 0.1);
}

.left-leg-circle {
  background-color: var(--light-brown);
  transform: translate(-160%, 310%) scale(1.2, 1.2);
  box-shadow: -0.2rem -0.2rem rgba(0, 0, 0, 0.1);
}

.right-leg {
  background-color: var(--brown);
  transform: translate(150%, 300%) scale(2, 2) rotate(-90deg);
  box-shadow: inset 0.3rem -0.3rem rgba(0, 0, 0, 0.1);
}

.right-leg-circle {
  background-color: var(--light-brown);
  transform: translate(160%, 310%) scale(1.2, 1.2);
  box-shadow: -0.2rem -0.2rem rgba(0, 0, 0, 0.1);
}

.footer {
  color: gray;
}
